.dark-card {
    background-color: #212529;
    color: white;
  }

  @media (max-width: 768px) { 
    .issue-card {
      width: 90%; /* Adjust this percentage as needed */
      margin: 1rem; /* Add margin for better spacing on mobile */
    }
  
    .card-image {
      max-width: 100%;
      height: 200px; /* Adjust image height for mobile */
    }
  }

.inputGroup-issue{
  background-color: #212529;
  color: white;
  border: #212529;
}
.pagination-container{
  background-color: #212529;
  color: white;
  border: #212529;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
;
}